<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bglabel</key>
		<string>ckbglabel</string>
		<key>name</key>
		<string>刺客</string>
		<key>zZimg</key>
		<string>ckzy</string>
		<key>zYimg</key>
		<string>cklogo</string>
		<key>postBody</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>bglabel</key>
		<string>labelbg</string>
		<key>name</key>
		<string>剑士</string>
		<key>zZimg</key>
		<string>jszy</string>
		<key>zYimg</key>
		<string>jslogo</string>
		<key>postBody</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>bglabel</key>
		<string>lsbglabel</string>
		<key>name</key>
		<string>力士</string>
		<key>zZimg</key>
		<string>lszy</string>
		<key>zYimg</key>
		<string>lslogo</string>
		<key>postBody</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>bglabel</key>
		<string>qgbglabel</string>
		<key>name</key>
		<string>气功师</string>
		<key>zZimg</key>
		<string>qgzy</string>
		<key>zYimg</key>
		<string>qglogo</string>
		<key>postBody</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>bglabel</key>
		<string>qsbglabel</string>
		<key>name</key>
		<string>拳师</string>
		<key>zZimg</key>
		<string>qszy</string>
		<key>zYimg</key>
		<string>qslogo</string>
		<key>postBody</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>bglabel</key>
		<string>zhbglabel</string>
		<key>name</key>
		<string>召唤师</string>
		<key>zZimg</key>
		<string>zhzy</string>
		<key>zYimg</key>
		<string>zhlogo</string>
		<key>postBody</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>bglabel</key>
		<string>labelbg</string>
		<key>name</key>
		<string>灵剑士</string>
		<key>zZimg</key>
		<string>ljzy</string>
		<key>zYimg</key>
		<string>ljlogo</string>
		<key>postBody</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
</array>
</plist>
